/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.todolist.list-group-item.text-center{
    margin: 20px auto 20px auto;
    padding: 15px;
    border: 1px solid grey;
    width: 350px;
}

.todolist:hover{
    cursor:pointer;
    background: lightcoral;
}

.createlistbutton a{
    border-radius: 55px;
    margin: 20px 30px 20px 30px;
    padding: 15px 30px;
    border: 1px solid green;
    width: 200px;
    text-align:center;
}

.createlistbutton a:hover{
    cursor:pointer;
    background: lightgreen;
    text-decoration: none;
}

.delete-list{
    color: black;
    padding: 6px 12px;
    font-size:14px;
    border-color:#ccc;
    -webkit-appearance: button;
    cursor:pointer;
    display:inline-block;
    margin-bottom:0;
    font-weight:normal;
    line-height: 1.42857143;
    text-align:center;
    white-space: nowrap;
    vertical-align:middle;
    touch-action:manipulation;
    user-select:none;
    background-image:none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.delete-list:hover{
    color: white;
    background: red;
}

.createitembutton{
    padding: 10px;
    border: 1px solid grey;
    width: 200px;
    margin:10px 0px;
}

.createitembutton:hover{
    cursor: pointer;
    background: #ccc;
    color:white;
}

.list-group{
    text-align:center;
}

.listitemincomplete{

}

.listitemcomplete{

}

.inline{
    display:inline-block;
}