@page
@model aspnetcore_todo.Pages.DeleteModel
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Delete Todo List:  @Model.ListToDelete.Name</h2>

<p>Do you wish to delete this list?</p>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="submit" value="Yes" class="btn btn-danger" />
                <a asp-page="./Index" class="btn btn-default">No</a>

                <!--TODO: Make anchor look like no button then delete no button.  Also why error
                    thrown when trying to delete a list -->
            </div>
        </form>
    </div>
</div>