@page
@model aspnetcore_todo.Pages.DeleteItemModel
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Todo List:  @Model.ItemToDelete.List.Name</h2>
<h3>Delete Item: @Model.ItemToDelete.Name</h3>

<p>Do you wish to delete this item?</p>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="submit" value="Yes" class="btn btn-danger" />
                <a asp-page="./Index" class="btn btn-default">No</a>
            </div>
        </form>
    </div>
</div>