@page
@model IndexModel
@{
    ViewData["Title"] = "Todo Lists";
}

<div class="jumbotron">
    <h1>MDC Todo Lists</h1>
</div>

<div class="row">
    <ul class="list-group">
        @foreach (var todoList in Model.TodoLists)
        {
            <li class="list-group-item text-center">
                @todoList.Name
            </li>
        }
    </ul>
</div>