@page
@model IndexModel
@{
    ViewData["Title"] = "Todo Lists";
}

<div class="jumbotron">
    <h1>@ViewData["Title"]</h1>
</div>

<div class="createlistbutton">
    <a asp-page="./Create">Add New List</a>
</div>

<div class="row">
    <ul class="list-group">
        @foreach (var todoList in Model.TodoLists)
        {
        <li class="list-group-item text-center todolist">
            @todoList.Name
            <a asp-page="./Delete" asp-route-id="@todoList.Id" class="delete-list">X</a>
        </li>
        }
    </ul>
</div>