@page
@model IndexModel
@{
    ViewData["Title"] = "Todo Lists";
}

<div class="jumbotron">
    <h1>@ViewData["Title"]</h1>
</div>

<div class="createlistbutton">
    <a asp-page="./Create">Add New List</a>
</div>

<div class="row">
    <div  class="list-group">
        @foreach (var todoList in Model.TodoLists)
        {
            <a class="inline list-group-item text-center todolist" asp-page="./TodoList"
                asp-route-id=@todoList.Id>@todoList.Name</a>
            <a class="inline delete-list" asp-page="./Delete" asp-route-id=@todoList.Id>X</a>
        }
    </div>
</div>